.right-warp{
        position: absolute;
        width: 96.6%;
        left: 55px;
        background-color: #fbfbfb;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .right-warp .right-search{
        margin-right: 30px;
    }
    
    /*面包屑*/
    .title{
        padding: 0px;
        position: relative;
        height: 48px;
        line-height: 48px;
        border-bottom: 1px solid #38b5e6;
    }
    .title .crumbs p{
       /* display: inline-block;*/
        text-align: center;
        height: 48px;
        width: 110px; 
        /*float: left;*/
        position: absolute;
        /*left: 55px;*/
        /*margin-left: 55px;  */
    }
    .title .crumbs p{
        border-bottom: 3px solid #38b5e6;
    }

    .title .pull-right{
        float: right
    }

    .crumbs span.noBorBot{
        border-bottom: transparent
    }
    .border-bottom{
        border-bottom:1px solid #E5E5E5;
    }
    /*面包屑结束*/

    /*content部分开始*/
    /*.content-info{
       margin-top: 20px;
       height: 600px;
       width: 100%;
       border:1px solid #333;
    }*/
    .content-info .search{
       padding: 20px;
       /*position: relative;*/
       padding-bottom: 0;
    }
    

    /*table start*/
    .table-info{
       padding: 0 20px;
    }
    .table-info table{
       width: 100%;
    }
    /*content部分结束*/

    .content-info .account-info table>tr>th, td{
       text-align: left ! important;
       height: 30px;
       padding:0;
    }
   /*element from 样式更改*/
  .el-form-item__label,.el-checkbox__label{
     font-weight: normal;
  }
  .el-table td, .el-table th{
    border:1px solid #ccc;
  }
  .el-form--inline .el-form-item{
    margin-right: 26px;
  }

  /*分页样式更改*/
  .pagination{
     float: right;
     margin-top: 100px;
     margin-right: 20px;
     margin-bottom: 20px;
  }
  .el-pagination{
     float: right;
  }
  .demonstration{
     float: right;
     padding-top: 8px;
  }
