/*content start*/ 
.content .content-top{
  /*height: 290px;*/
  margin:20px;
  margin-bottom: 0;
}
.tooltip-inner{
  display:inline-block;
  height:35px;
  padding:0 20px;
  font-size:13px;
  line-height:35px;
  background-color:#11142b; 
}
.content .content-top .content-top-items{
  width: 53.6%;
  /*height: 100%;*/
  border:1px solid #dfdfel;
  float: left;     
}
.content .content-top .top-items-title{
  height: 40px;
  background-color: #eef3f7;
  border: 1px solid #dfdfe1;
  line-height: 40px;
  padding-left: 10px;
}
 
.content .content-top .content-dynamic{
  width: 45%;
  float: right;
}
.content-dynamic .top-items-agency i{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
  background-color: #38b5e6;
}
.content-dynamic .top-item-content{
  height: 241px;
  overflow: hidden;
  border-bottom:1px solid #ccc;
}
.content-top .top-items-agency dd{
  padding: 10px 15px;
  height: 40px;
  border-bottom: 1px solid #ccc;
}
.content-top .top-items-agency dd:last-child{
  border-bottom:0px ;
}

.content-top .top-items-agency dd a{
  color: #333;
}
.content-top .top-items-agency dd a:hover{
  color: #38b5e6;
}
/*.content-top .top-items-content .*/
.content-dynamic .top-items-agency .date{
  font-size: 12px;
  color: #888;
}
.content .content-top .agency{
  /*border: 1px solid #dfdfe1;*/
  border-right: 1px solid #dfdfe1;
  border-left: 1px solid #dfdfe1;  
  margin-bottom:0;
  border-bottom:1px solid #ccc;      
}
.content .content-top .content-top-items .agency i{
  display: inline-block;
  width: 20px;
  height: 20px;
  color: black;
}
.content .content-top .agency .state{
  width: 57px;
  height: 21px;
  display: inline-block;
  float: right;
  line-height: 21px;
  text-align: center;
  border-radius: 3px;
  font-size: 13px;
}
.content .content-top .top-items-content{
  background-color: #fff;
  margin-bottom: 20px;
}
.content .content-top .top-items-content .top-items-agency span.go{
  color: #da870f;
  border: 1px solid #ee8c00;
}
.content .content-top .top-items-content .top-items-agency span.complate{
  color: #0c8037;
  border: 1px solid #009f3c;
}
.content .content-top .top-items-content .top-items-agency span.validate{
  color: #da870f;
  border: 1px solid #ee8c00;
}
.content .content-top .top-items-content .top-items-agency span.todo{
  color: #2a9cc8;
  border: 1px solid #009f3c;
}

.content .content-top .top-items-content .top-items-agency span.leave{
  color: #0c8037;
  border: 1px solid #009f3c;
}
.content .content-bottom{
  width: 100%;
  margin: 0 20px;
  margin-bottom: 20px;
}
.content .content-bottom .content-bottom-forms{
  width: 65%;
  border: 1px solid #dfdfe1;
  height: 100%;
  float: left;
  margin-right: 20px;
  background-color: #fff;
  position: relative;
}
.content .content-bottom .content-bottom-forms .form-img{
/*background-color: #fff;*/
  padding: 20px 15px;
  height: 410px;
  width: 100%;
}
.content .content-bottom .content-bottom-forms .img-left, .img-right{
  /*width: 48%;*/
  height: 370px;
  float: left;
  width: 48.6%;
  /*width: 440px;*/
  background: #eef3f7 !important;
  border:1px solid #ccc;
  background-size: 350px 370px;
  overflow: hidden;
  padding:0 30px 0 10px;
}

.content .content-bottom .content-bottom-forms .img-right{
  /*margin-left: 23px;*/
  position: absolute;
  right: 15px;
}
/*快捷入口*/
.content .content-bottom .content-bottom-entrance{
  width: 30.8%;
  height: 452px;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  border-right: 0;
}
.content .content-bottom .entrance-title{
  height: 40px;
  border-bottom: 1px solid #ccc;
  background-color: #eef3f7;
  line-height: 40px;
  padding-left: 10px;
  border-right: 1px solid #ccc;
}

.content-bottom-entrance .entrance-content dl{
   width: 25%;
   height: 138px;
   border-bottom: 1px solid #ccc;
   border-right: 1px solid #ccc;
   float: left;
   /*padding-top: 27px;*/
   padding: 27px 20px;
   /*text-align: center;*/
   margin-bottom:0;
}

.content-bottom-entrance .entrance-content dl dt{
    width: 59px;
    height: 59px;
    border-radius: 8px;
    text-align: center;
    line-height: 54px;
    margin: 0 auto 10px;
}
.content-bottom-entrance .entrance-content dl dt i{
   font-size: 44px;
   font-weight: normal;
}
.content-bottom-entrance .entrance-content dl dd{
   font-size: 13px;
   text-align: center;
   line-height: 14px;
   color: #333;
}
.content-bottom-entrance .entrance-content dl:hover{
  background-color: #eef3f7;
}
.content-bottom-entrance .entrance-content dl:hover dd{
  color: #38b5e6;
}
.content-bottom-entrance .entrance-content dl dt.color-blue{
  background-color: #01a9eb;
}
.content-bottom-entrance .entrance-content dl dt.color-yellow{
  background-color: #feaa00;
}
.content-bottom-entrance .entrance-content dl dt.color-orange{
  background-color: #fe9e00;
}
.content-bottom-entrance .entrance-content dl dt.color-green{
  background-color: #00a03b;
}
.content-bottom-entrance .entrance-content dl dt.color-red{
  background-color: #f34847;
}
.content-bottom-entrance .entrance-content dl dt.color-deepblue{
  background-color: #0c7dba;
}

.commission i:nth-child(1){
   float: left;
   color: #38b5e6;
   padding: 10px 0 0 10px;
}
/*content end*/

/*element 样式更改*/
.el-tabs__header{
   margin: 0;
   background-color: #eef3f7;
   height: 40px;
}
.el-tabs__item{
  height: 40px;
}
.el-tabs{
  width: 100%;
}
.el-tabs .el-tabs__content{
  width: 100%;
}
.el-tabs .el-tabs__content .el-tab-pane{
  width: 100%;
}
.el-tabs__active-bar{
  top: 0;
}
.el-tabs__item.is-active{
  background-color: #fff;
}
