
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495185605892'); /* IE9*/
  src: url('iconfont.eot?t=1495185605892#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495185605892') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495185605892') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495185605892#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#fff;
}

.icon-home:before { content: "\e6c8"; }

.icon-inspect:before { content: "\e6c9"; }

.icon-set:before { content: "\e6ca"; }

.icon-user:before { content: "\e6cb"; }

.icon-email:before { content: "\e6cc"; }

.icon-tips:before { content: "\e6cd"; }

.icon-portal:before { content: "\e6ce"; }

.icon-security:before { content: "\e6cf"; }

.icon-help:before { content: "\e6d0"; }

.icon-IM:before { content: "\e6d1"; }

.icon-track:before { content: "\e6d2"; }

.icon-daiban:before { content: "\e6d3"; }

.icon-arrow-down:before { content: "\e6d4"; }

.icon-more:before { content: "\e6d5"; }

.icon-train:before { content: "\e6d6"; }

.icon-wOrder:before { content: "\e6d7"; }

.icon-call:before { content: "\e6d8"; }

.icon-qua:before { content: "\e6d9"; }

.icon-log:before { content: "\e6db"; }

